<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>+
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	<div id="navbar" class="container-fluid"><div class="row-fluid">
		<h2><a href="/"><div class="col-xs-4">Home Page</div></a> </h2>
		<h2><a href="/news"><div class="col-xs-4">News</div></a> </h2>
		<h2><a href="/pics"><div class="col-xs-4">Pictures</div></a> </h2>
	</div></div>
	<div class="container-fluid"><div class="row-fluid">
		<div class="col-xs-12">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<p> This is the homepage. Here you can traverse the website.</p>
		<p> <a href="/news">Here</a> you can go to veiw all the new people have posted.</p>
		</div>
	</div></div>
  </body>
</html>
